body {
  background-color: skyblue;
}

.welcome {
  text-align: center;
}

form#addHard,#addSoft {
  margin-top: 25px;
  margin-bottom: 25px
}

#signupConf {
  background-color: white;
  text-align: center;
  padding-bottom: 50px;
}

#signupConf th {
  text-align: center;
}

#signupConf a {
  color: black;
}

#signupForm {
  text-align: center;
}

.red_flush {
  color: red;
}

.addsubmitbutton {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
