{% extends 'layout.html' %}
{% block body %}
  <div class="container">
    {% if session.user_id %}
      <h2>ようこそ勇者{{ session.username }}様。</h2>
      <p></p>
      <div class="choises">
        <ul>
          <li><a href="{{ url_for('home') }}">ゲームの一覧を見てみる。</a></li>
        </ul>
      </div>
    {% else %}
      <h2>ようこそ！名前はなんですか？</h2>
      <div class="choises">
        <ul>
          <li><a href="{{ url_for('login') }}">名乗る</a></li>
          <li><a href="{{ url_for('login') }}">名乗らない</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
