<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
    <title>ゲーム管理サイト</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="../static/css/layout.css" />
  </head>
  <body>
    {% if session.user_id %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="{{ url_for('home') }}" class="navbar-brand">Gamesoft Management</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout" data-toggle="modal">logout</a></li>
          </ul>
        </div>
      </nav>
    {% else %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="{{ url_for('home') }}" class="navbar-brand">Gamesoft Management</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login" data-toggle="modal">login</a></li>
            <li><a href="/signup" data-toggle="modal">Sign up</a></li>
          </ul>
        </div>
      </nav>
    {% endif %}
    {% block body %} {% endblock %}
  </body>
</html>
