{% extends 'layout.html' %}
{% block body %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">HelloFlask</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Signed in as: <a href="#" class="navbar-link" id="username">{{ username }}</a></p></li>
        <li><a href="/logout" id="logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container welcome" >
    <h1>ようこそ{{ username }}！</h1>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
