{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <div class="row addSoft">
    <form id="addSoft" action="/addsoft" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="form-group">
        <input type="text" class="form-control" name="softName" placeholder="ソフト名" />
      </div>
      <div class="form-group">
        <div class="checkbox">
          <ul>
            {% for hard_content in hard_contents %}
              <div class="col-sm-4">
                <li style="list-style:none;">
                  <label><input type="checkbox" name="hardNumbers" value="{{ hard_content.id }}" />{{ hard_content.name }}</label>
                </li>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div><br />
      <div class="addsubmitbutton col-sm-12">
        <input type="submit" class="btn btn-default" value="送信" />
      </div>
    </form>
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash red_flush">
      {{ message }}
    </div>
  {% endfor %}
  <div class="row addHard">
    <form id="addHard" action="/addhard" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="text" class="form-control" name="hardName" placeholder="ハード名" />
      <div class="addsubmitbutton col-sm-12">
        <input type="submit" class="btn btn-default" value="送信" />
      </div>
    </form>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">ソフト一覧</div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>ソフト名</th>
          <th>ハード名</th>
          <th></th>
        </tr>
        {% for soft_content in soft_contents %}
          {% for soft_hard in soft_content.hardwares %}
            <tr>
              {% if loop.first %}
                <td rowspan="{{ soft_content.hardwares|count }}">{{ soft_content.title }}</td>
              {% endif %}
                <td>{{ soft_hard.name }}</td>
              {% if loop.first %}
                <td rowspan="{{ soft_content.hardwares|count }}"  class="deleteButton">
                  <form action="/deletesoft" method="post" />
                    <input type="submit" name="{{soft_content.id}}" value="削除" />
                  </form>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
