{% extends 'layout.html' %}
{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">moi!</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login.html" data-toggle="modal">Sign in</a></li>
    </ul>
  </div>
</nav>
<div class="container" id="signupConf">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="text-center">確認</h1>
      <p>以下の内容でよろしいですか？</p>
    </div>
  </div>
  <table class="table table-bordered">
    <tr>
      <th align="center">ユーザー名</th>
      <th>メールアドレス</th>
    </tr>
    <tr>
      <td>{{ new_username }}</td>
      <td>{{ email }}</td>
    </tr>
  </table>
  <a href="/signup"><input type="button" value="戻る" /></a><form action="/adduser"><input type="submit" value="確認" /></form>
</div>
{% endblock %}
